
RedditClips/background_vids/output_1_000.mp4
RedditClips/background_vids/output_1_001.mp4
RedditClips/background_vids/output_2_000.mp4
RedditClips/background_vids/output_2_001.mp4
RedditClips/background_vids/output_2_002.mp4
RedditClips/background_vids/output_3_000.mp4
RedditClips/background_vids/output_3_001.mp4
RedditClips/background_vids/output_3_002.mp4
RedditClips\__pycache__t
RedditClips\movie_creation\__pycache__
RedditClips\output_video
RedditClips\tiktockvoice\__pycache__
*.pyc
RedditClips/config.txt
RedditClips/background_vids/vid1_000.mp4
RedditClips/background_vids/vid1_001.mp4
RedditClips/background_vids/vid1_002.mp4
RedditClips/background_vids/vid1_003.mp4
RedditClips/background_vids/vid2_000.mp4
RedditClips/background_vids/vid2_001.mp4
RedditClips/background_vids/vid2_002.mp4
RedditClips/background_vids/vid3_000.mp4
RedditClips/background_vids/vid3_001.mp4
RedditClips/background_vids/vid3_002.mp4
RedditClips/background_vids/vid3_003.mp4
RedditClips/background_vids/vid3_004.mp4
RedditClips/background_vids/vid3_005.mp4
RedditClips/background_vids/vid3_006.mp4
RedditClips/background_vids/vid3_007.mp4
RedditClips/background_vids/vid3_008.mp4
RedditClips/background_vids/vid3_009.mp4
RedditClips/background_vids/vid3_010.mp4
RedditClips/background_vids/vid3_011.mp4
RedditClips/background_vids/vid3_012.mp4
RedditClips/background_vids/vid3_014.mp4
RedditClips/background_vids/vid3_015.mp4
RedditClips/output_video/Met someone who I strongly disliked upon meeting them and turned out to be justified.mp4
RedditClips/output_video/I reconnected with a childhood friend but I dont think she is being honest about being happy to see me..mp4
RedditClips/output_video/I (20m) think my mom (47f) may be losing her mind...mp4
RedditClips/output_video/A Question before I post something.mp4
RedditClips/output_video/(Update) I reconnected with a childhood friend but I dont think she is being honest about being happy to see me.mp4
RedditClips/output_video/A Question before I post something.mp4
RedditClips/output_video/A Question before I post something.mp4
RedditClips/config*

test.py
RedditClips/config.txt
RedditClips/config*
RedditClips/output_video/A Question before I post something.mp4
RedditClips/config.txt
